.DS_Store
data/*
!data/ger_open_access_with_gnd.csv
!data/ddc/
.venv/
*.db
__pycache__/
downloader/dnb_records.db
.vscode/
.env
client_id.json
*.pickle
google-service-account.json
temp_files/
*.log
converter_heartbeat.txt